<p id="notice"><%= notice %></p>

<p>
  <strong>Luck:</strong>
  <%= @uranai.luck %>
</p>

<p>
  <strong>Detail:</strong>
  <%= @uranai.detail %>
</p>

<%= link_to 'Edit', edit_uranai_path(@uranai) %> |
<%= link_to 'Back', uranais_path %>
