<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @janken.name %>
</p>

<p>
  <strong><%= @janken.name %>の手</strong>
  <%= @janken.hand %>
</p>
<p>
  <strong>対戦者</strong>
  <%= @enemy.name %>
</p>

<p>
  <strong><%= @enemy.name %>の手</strong>
  <%= @enemy.hand %>
</p>
<p>
  <strong>結果</strong>
  <%= @result %>
</p>

<%= link_to 'トップページへ', root_path %>
