<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @janken.name %>
</p>

<p>
  <strong>Hand:</strong>
  <%= @janken.hand %>
</p>

<p>
  <strong>Room:</strong>
  <%= @janken.room %>
</p>
<p>
  <strong>相手の手</strong>
  <%= @enemy %>
</p>

<%= link_to '結果へ', jankens_path %>
