<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @janken.name %>
</p>

<p>
  <strong>Hand:</strong>
  <%= @janken.hand %>
</p>

<p>
  <strong>Room:</strong>
  <%= @janken.room %>
</p>
<%= link_to 'じゃんけんデータベースへ', jankens_path %>
<%= link_to '勝敗画面へ', jankens_result_path %>
